DB_HOST=gobang_db # 数据库主机名,使用docker方法部署时,数据库容器的名称
DB_PORT=3306 # 数据库端口号
DB_USER=root # 数据库用户名,默认值为root
DB_PASSWORD=<your_db_password> # 数据库root密码
DB_NAME=gobang # 数据库名称,默认值为gobang
JWT_SECRET=<your_jwt_secret_key_change_me>
PORT=8080 # 服务器端口号等同于AUTHPORT，并与AUTHPORT保持一致
